{% if notificationList|length > 0 %}
<div class="notif-menu-container">
        <a href="#" class="notif-data-link notif-data-clear" data-clear="{{ mgilet_notification_generate_path('notification_mark_all_as_seen', notificationList|first.notifiableEntity) }}">Mark all as seen</a>
        <a href="{{ path('home_displaynotifs') }}" class="notif-data-link">View all</a>
</div>
{% endif %}
{% for item in notificationList %}
<a class="dropdown-item notif-menu-item {% if item.seen == 0 %}notif-seen{% endif %}"
        href="{{ item.notification.link }}">
        <span class="notif-title">{{ item.notification.subject }}</span>
        {{ item.notification.message }}<br /><span
                class="text-muted">{{ item.notification.date|date('H:i d/m/Y') }}</span>
</a>
{% endfor %}