{% extends 'base.html.twig' %}

{% block title %}Story - Strapp.xyz{% endblock %}

{% block body %}
<main role="main" class="container-fluid main-content">
    <div class="row user-list-row main-flash-container refresh-pos-home-btn">
        <button href="" class="btn btn-standard form-control updateCoordBtn"><i class="fas fa-map-marker-alt"></i>
            Update location</button>
        {% for message in app.flashes('notice-vote-submit') %}
        <div class="alert alert-dismissible alert-success main-alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <i class="fas fa-user-circle"></i> {{ message }}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="card w-100">
            <div class="card-header">
                <h2>{{vote.title}}</h2>
                <h6 class="card-title">
                    <a class='vote-author-link' href="{{ path('home_user', {'slug': vote.author.id})}}">
                        {% if vote.author.media is null %}
                        <img src="{{asset('uploads/avatars/0.jpg')}}" alt="profile picture" class="vote-avatar"
                            data-path="{{ path('home_user', {'slug': vote.author.id})}}">
                        {% else %}
                        <img src="{{ asset('uploads/avatars/' ~ vote.author.media.imageName) | imagine_filter('avatar') }}"
                            alt="vote author avatar" class="vote-avatar"
                            data-path="{{ path('home_user', {'slug': vote.author.id})}}">
                        {% endif %}@{{ vote.author.username }}</a></h6>
                <small class="text-muted">{{ vote.dateCreate|date('d/m/y H:i') }} -
                    {{ vote.dateEnd|date('M d Y H:i:s') }} ({{ vote.coord['city'] }})
                </small>
            </div>
            <div class="row no-gutters row-vote-data">
                <div class="col-md-auto col-spoiler-container">
                    {% if vote.status == 1 %}
                    <figure class="vote-spoiler">
                        <img src="{{ asset('uploads/votes/' ~ vote.imageName) | imagine_filter('vote_crop') }}"
                            alt="vote picture" class="card-img vote-card-img vote-card-img-active"
                            data-idvote="{{ vote.id }}">
                        <figcaption class="vote-timer-spoiler" id="vote-{{ vote.id }}"
                            data-dateend="{{ vote.dateEnd|date('D M d Y H:i:s O') }}"></figcaption>
                    </figure>
                    {% else %}
                    <figure class="vote-spoiler" data-toggle="modal" data-target="#imgModal">
                        <img src="{{ asset('uploads/votes/' ~ vote.imageName) | imagine_filter('avatar')}}"
                            alt="story picture" class="card-img vote-card-img">
                    </figure>
                    <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg modal-vote-image" role="document">
                            <div class="modal-content vote-modal-wrapper">
                                <div class="modal-body vote-modal-body">
                                    <button type="button" class="close vote-modal-close" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                                    </button>
                                    <figure class="vote-spoiler" data-toggle="modal" data-target="#imgModal">
                                        <img src="{{ asset('uploads/votes/' ~ vote.imageName) }}" alt="story picture"
                                            class="card-img vote-card-img-enhanced">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-auto basic-info-col">
                    <div class="card-body user-info">
                        <p class="card-text card-vote-content">
                            {{ vote.content }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col text-center">{{ vote.ratings|length }} votes</div>
                    <div class="col text-center">{{ vote.comments|length }} comments</div>
                    {% if app.user.id == vote.author.id %}
                    <div class="col text-center">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </a>
                        <div class="dropdown-menu vote-menu-dropdown" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{path('home_deletevote', {'vote': vote.id})}}">Delete
                                story</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if app.user.id != vote.author.id and vote.status == 1 %}
    <div class="row">
        <div class="col">
            {% if canVote is not null and canVote.value == true %}
            <span class="btn btn-standard btn-checked">Real</span>
            {% else %}
            <a href="{{path('home_ratevote', {'vote': vote.id, 'slug': '1'})}}" class="btn btn-standard">Real</a>
            {% endif %}
        </div>
        <div class="col">
            {% if canVote is not null and canVote.value == false %}
            <span class="btn btn-standard btn-checked">Fake</span>
            {% else %}
            <a href="{{path('home_ratevote', {'vote': vote.id, 'slug': '0'})}}" class="btn btn-standard">Fake</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if vote.status == 0 %}
        {% if vote.result == false %}
            <span class="btn btn-standard btn-checked-dark">This story was a fake!</span>
        {% else %}
            <span class="btn btn-standard btn-checked">This story was real!</span>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="card w-100">
            <div class="comments-container">
                <div class="comment-form-container">
                    {{ form_start(commentForm) }}
                    {{ form_row(commentForm.content, {'attr': {'class': 'form-control', 'maxLength': '250'}}) }}
                    {{ form_row(commentForm.save, {'attr': {'class': 'btn btn-primary form-control btn-standard'}}) }}
                    {{ form_end(commentForm) }}
                </div>
                <div class="comment-list-container">
                    {% for comment in vote.comments|sort %}
                    <div class="card">
                        <p>
                            <a class='vote-author-link' href="{{ path('home_user', {'slug': comment.author.id})}}">
                                {% if comment.author.media is null %}
                                <img src="{{asset('uploads/avatars/0.jpg')}}" alt="profile picture"
                                    class="comment-avatar"
                                    data-path="{{ path('home_user', {'slug': comment.author.id})}}">
                                {% else %}
                                <img src="{{ asset('uploads/avatars/' ~ comment.author.media.imageName) | imagine_filter('avatar') }}"
                                    alt="comment author avatar" class="comment-avatar"
                                    data-path="{{ path('home_user', {'slug': comment.author.id})}}">
                                {% endif %}@{{ comment.author.username }}</a> {{ comment.content }} <small
                                class="text-muted">({{ comment.dateCreate|date('h:i d/m/y') }})</small> </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src={{ asset("js/ui.js") }}></script>
<script src={{ asset("js/upload.js") }}></script>
<script src={{ asset("js/autoExpand.js") }}></script>
<script src={{ asset("js/locateMe.js") }}></script>
<script src={{ asset("ajax/notification.js") }}></script>
<script src={{ asset("ajax/search.js") }}></script>
<script src={{ asset("ajax/comment.js") }}></script>
{% endblock %}