{% extends 'base.html.twig' %}

{% block title %}Story - Strapp.xyz{% endblock %}

{% form_theme formVote 'bootstrap_4_layout.html.twig' %}
{% block body %}
<main role="main" class="container-fluid main-content">
    <h2>Story</h2>
    <div class="row">
        <div class="card main-card">
            <div class="card-body card-standard">
                <div class="col col-standard">
                    <h5 class="card-title">Main information</h5>
                    {{ form_start(formVote) }}
                        {{ form_row(formVote.title, {'attr': {'class': 'form-control', 'placeholder': 'Be inventive!'}}) }}
                        {{ form_row(formVote.imageFile, {'attr': {'class': 'form-control-file'}}) }}
                        {{ form_row(formVote.content, {'attr': {'class': 'form-control'}}) }}
                        {{ form_row(formVote.coord)}}
                </div> 
                <div class="col col-standard">
                    <h5 class="card-title">Options</h5>
                    {{ form_row(formVote.duration, {'attr': {'class': 'form-control'}}) }}
                </div>   
            </div>  
                {{ form_row(formVote.save, {'attr': {'class': 'btn btn-primary form-control btn-standard'}}) }}
            {{ form_end(formVote) }}
        </div>
    </div>
</main>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src={{ asset("js/ui.js") }}></script>
<script src={{ asset("js/upload.js") }}></script>
<script src={{ asset("js/autoExpand.js") }}></script>
<script src={{ asset("js/locateMe.js") }}></script>
<script src={{ asset("ajax/notification.js") }}></script>
<script src={{ asset("ajax/search.js") }}></script>
{% endblock %}