{% extends 'base.html.twig' %}

{% block title %}Home - Strapp.xyz{% endblock %}
{% block body %}
        <div class="col main-content">
            {{ form_start(updateCoord) }} 
                {{ form_row(updateCoord.coord) }}
                {{ form_row(updateCoord.submit, {'attr': {'class': 'btn btn-success form-control btn-login'}}) }}
            {{ form_end(updateCoord) }}            
            {% for message in app.flashes('notice-coord') %}
                <div class="alert alert-dismissible alert-success main-alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i class="fas fa-user-circle"></i> {{ message }}
                </div>
            {% endfor %}
        </div>
{% endblock %}