{% extends 'base.html.twig' %}

{% block title %}Home - Strapp.xyz{% endblock %}
{% block body %}
<main class="container-fluid main-content">
    <div class="row user-list-row main-flash-container refresh-pos-home-btn">
        <button href="" class="btn btn-standard form-control updateCoordBtn"><i class="fas fa-map-marker-alt"></i>
            Update location</button>
        {% for message in app.flashes('notice-vote-submit') %}
            <div class="alert alert-dismissible alert-success main-alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="fas fa-user-circle"></i> {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for vote in votes %}
            <a href="#" class="home-vote-link">
                <div class="card">
                    <div class="row no-gutters">
                        <div class="col-md-auto">
                            <figure class="vote-spoiler" >
                                <img src="{{ asset('uploads/votes/' ~ vote.imageName) | imagine_filter('vote_crop') }}" alt="vote picture" class="card-img vote-card-img vote-card-img-active" data-idvote="{{ vote.id }}">
                                <figcaption class="vote-timer-spoiler" id="vote-{{ vote.id }}" data-dateend="{{ vote.dateEnd|date('D M d Y H:i:s O') }}"></figcaption>
                            </figure>
                        </div>
                        <div class="col-md-auto basic-info-col">
                            <div class="card-body user-info">
                                <h6 class="card-title">
                                    <span class='vote-author-link' data-path="{{ path('home_user', {'slug': vote.author.id})}}">
                                    {% if vote.author.media is null %}
                                        <img src="uploads/avatars/0.jpg" alt="profile picture" class="vote-avatar" data-path="{{ path('home_user', {'slug': vote.author.id})}}">
                                        {% else %}
                                        <img src="{{ asset('uploads/avatars/' ~ vote.author.media.imageName) | imagine_filter('avatar') }}"
                                            alt="vote author avatar" class="vote-avatar" data-path="{{ path('home_user', {'slug': vote.author.id})}}">
                                    {% endif %}@{{ vote.author.username }}</span> posted a new vote</h6>
                                <p class="card-text">
                                    <small class="text-muted">{{ vote.dateCreate|date('d/m/y H:i') }}</small>
                                </p>
                                <p class="card-text">
                                    {% if vote.content|length > 85 %}
                                    {{ vote.content[:85] }}...
                                    {% endif %}
                                    {% if vote.content|length <= 85 %}
                                    {{ vote.content }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</main>
{% endblock %}