{% extends 'base.html.twig' %}

{% block title %}Home - Strapp.xyz{% endblock %}
{% block body %}
<main class="container-fluid main-content">
    <div class="row user-list-row main-flash-container refresh-pos-home-btn">
        <button href="" class="btn btn-standard form-control updateCoordBtn"><i class="fas fa-map-marker-alt"></i>
            Update location</button>
        {% for message in app.flashes('notice-vote-submit') %}
            <div class="alert alert-dismissible alert-success main-alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="fas fa-user-circle"></i> {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="row row-list-votes">
        {% if votes is not empty %}
            {% for vote in votes %}
            <div class="home-vote-container home-vote-link" data-path="{{path('home_displayvote', {'vote': vote.id})}}">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title">
                            <a class='vote-author-link' href="{{ path('home_user', {'slug': vote.author.id})}}">
                            {% if vote.author.media is null %}
                                <img src="uploads/avatars/0.jpg" alt="profile picture" class="vote-avatar" data-path="{{ path('home_user', {'slug': vote.author.id})}}">
                                {% else %}
                                <img src="{{ asset('uploads/avatars/' ~ vote.author.media.imageName) | imagine_filter('avatar') }}"
                                    alt="vote author avatar" class="vote-avatar" data-path="{{ path('home_user', {'slug': vote.author.id})}}">
                            {% endif %}@{{ vote.author.username }}</a> posted a new story</h6>
                            <small class="text-muted">{{ vote.dateCreate|date('d/m/y H:i') }} ({{ vote.coord['city'] }} - {{ vote.coord['country'] }} / ending: {{ vote.dateEnd|date('M d Y H:i:s') }})</small>
                    </div>
                    <div class="row no-gutters row-vote-data">
                        <div class="col-md-auto col-spoiler-container">
                            {% if vote.status == 1 %}
                            <figure class="vote-spoiler" >  
                                <img src="{{ asset('uploads/votes/' ~ vote.imageName) | imagine_filter('vote_crop') }}" alt="vote picture" class="card-img vote-card-img vote-card-img-active" data-idvote="{{ vote.id }}">
                                <figcaption class="vote-timer-spoiler" id="vote-{{ vote.id }}" data-dateend="{{ vote.dateEnd|date('D M d Y H:i:s O') }}"></figcaption>
                            </figure>
                            {% else %}
                            <figure class="vote-spoiler" >  
                                <img src="{{ asset('uploads/votes/' ~ vote.imageName) | imagine_filter('avatar') }}" alt="vote picture" class="card-img vote-card-img vote-card-img-active" data-idvote="{{ vote.id }}">
                                <figcaption class="vote-timer-spoiler" id="vote-{{ vote.id }}" data-dateend="{{ vote.dateEnd|date('D M d Y H:i:s O') }}"></figcaption>
                            </figure>
                                
                            {% endif %}
                        </div>
                        <div class="col-md-auto basic-info-col">
                            <div class="card-body user-info">
                                <h5 class="card-title">{{ vote.title }}</h5>
                                <p class="card-text card-vote-content">
                                    {% if vote.content|length > 85 %}
                                    {{ vote.content[:85] }}...
                                    {% endif %}
                                    {% if vote.content|length <= 85 %}
                                    {{ vote.content }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="row">
                            <div class="col text-center"><small class="text-muted">0 votes</small></div>
                            <div class="col text-center"><small class="text-muted">{{ vote.comments|length }} comments</small></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="row list-bottom-ajax text-center" data-path="/ajaxListVotesScroll" data-offset="10">
</main>
{% endblock %}