{% extends 'base.html.twig' %}

{% block title %}Users list - Strapp.xyz{% endblock %}
{% block body %}
<main role="main" class="container-fluid main-content">
    <div class="filter-container text-center">
        <div class="btn-group filter-user-grp" role="group" aria-label="Basic example">
            <a class="btn btn-primary ajax-filter btn-standard{% if filter == 'mine' %}-active ajax-filter
                 {% endif %}" data-path="mine" href="{{ path('home_listuser', {'slug': 'mine'}) }}"
                 data-toggle="tooltip" data-placement="bottom" data-title="My friends"><i class="fas fa-users"></i></a>
            <a class="btn btn-primary btn-standard{% if filter == 'local' %}-active ajax-filter 
                {% endif %}" data-path="local" href="{{ path('home_listuser', {'slug': 'local'}) }}" data-toggle="tooltip" data-placement="bottom" data-title="Nearby"><i
                    class="fas fa-map-marker-alt"></i></a>
            <a class="btn btn-primary btn-standard{% if filter == 'global' %}-active ajax-filter 
                {% endif %}" data-path="global" href="{{ path('home_listuser', {'slug': 'global'}) }}"
                data-toggle="tooltip" data-placement="bottom" data-title="Find more!"><i
                    class="fas fa-globe-americas"></i></a>
        </div>
    </div>
    <div class="row user-list-row main-flash-container"></div>
    <div class="row user-list-row ajax-user-list">
        {% if friendships is not empty %}
        <h5 class="title-friends-container">My friends</h5>
        {% for fs in friendships %}
        {% if fs.status == 0 and fs.origin != app.user.id %}
        <div class="user-list-link" href="{{ path('home_user', {'slug': fs.user.id}) }}">
            <div class="user-container friendship-container" data-user="{{ fs.user.id }}">
                <div class="card user-card">
                    <div class="row no-gutters">
                        <a class="user-list-link-passive" href="{{ path('home_user', {'slug': fs.user.id}) }}">
                            <div class="col-md-auto col-friend-auto">
                                {% if fs.user.media is null %}
                                <img src="{{ asset('uploads/avatars/0.jpg') }}" alt="profile picture"
                                    class="user-card-avatar">
                                {% else %}
                                <img src="{{ asset('uploads/avatars/' ~ fs.user.media.imageName) | imagine_filter('avatar') }}"
                                    alt="profile picture" class="card-img user-card-avatar">
                                {% endif %}
                            </div>
                            <div class="col-md-auto basic-info-col col-friend-auto">
                                <div class="card-body user-info">
                                    <h6 class="card-title">{{ fs.user.name }} {{ fs.user.lastname }} </h6>
                                    @{{ fs.user.username }}
                                    <p class="card-text"><small class="text-muted">{{ fs.user.currentLocation.city }}
                                            - {{ fs.user.currentLocation.country }}<br />
                                            {% if fs.user.mood|length > 25 %}
                                            {{ fs.user.mood[:25] }}...
                                            {% endif %}
                                            {% if fs.user.mood|length <= 25 %}
                                            {{ fs.user    .mood }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <div class="btn-status-friendship-container">
                            <button class="btn btn-friendship friendship-accept" data-slug="1"
                                data-target="{{fs.id}}">Accept</button>
                            <button class="btn btn-friendship friendship-refuse" data-slug="0"
                                data-target="{{fs.id}}">Decline</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if fs.status == 1 %}
        <a class="user-list-link" href="{{ path('home_user', {'slug': fs.user.id}) }}">
            <div class="user-container friendship-container" data-user="{{ fs.user.id }}">
                <div class="card user-card">
                    <div class="row no-gutters">
                        <div class="col-md-auto">
                            {% if fs.user.media is null %}
                            <img src="{{ asset('uploads/avatars/0.jpg') }}" alt="profile picture"
                                class="user-card-avatar">
                            {% else %}
                            <img src="{{ asset('uploads/avatars/' ~ fs.user.media.imageName) | imagine_filter('avatar') }}"
                                alt="profile picture" class="card-img user-card-avatar">
                            {% endif %}
                        </div>
                        <div class="col-md-auto basic-info-col">
                            <div class="card-body user-info">
                                <h6 class="card-title">{{ fs.user.name }} {{ fs.user.lastname }} </h6>
                                @{{ fs.user.username }}
                                ({{ fs.user.ratingWriter }}/{{ fs.user.ratingReader }})
                                <p class="card-text"><small class="text-muted">{{ fs.user.currentLocation.city }} - {{
                                                fs.user.currentLocation.country }}<br />
                                        {% if fs.user.mood|length > 35 %}
                                        {{ fs.user.mood[:35] }}...
                                        {% endif %}
                                        {% if fs.user.mood|length <= 35 %}
                                        {{ fs.user.mood }}
                                        {% endif %}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        {{ knp_pagination_render(friendships) }}
    </div>
</main>
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src={{ asset("js/ui.js") }}></script>
<script src={{ asset("js/locateMe.js") }}></script>
<script src={{ asset("ajax/userList.js") }}></script>
<script src={{ asset("ajax/friendlyAjax.js") }}></script>
<script src={{ asset("ajax/notification.js") }}></script>
{% endblock %}