{% extends 'base.html.twig' %}

{% block title %}Users list - Strapp.xyz{% endblock %}
{% block body %}
<main role="main" class="container-fluid main-content">
    <div class="filter-container">
        <div class="btn-group filter-user-grp" role="group" aria-label="Basic example">
            <a class="btn btn-primary btn-standard{% if filter == 'mine' %}-active{% endif %}"
                href="{{ path('home_listuser', {'slug': 'mine'}) }}">Friends</a>
            <a class="btn btn-primary btn-standard{% if filter == 'local' %}-active{% endif %}"
                href="{{ path('home_listuser', {'slug': 'local'}) }}">Nearby</a>
            <a class="btn btn-primary btn-standard{% if filter == 'global' %}-active{% endif %}"
                href="{{ path('home_listuser', {'slug': 'global'}) }}">All</a>
        </div>
    </div>
    <div class="row user-list-row">
        {% if friendships is not empty %}
        <h5 class="title-friends-container">My friends</h5>
        {% for fs in friendships %}
        {% if fs.status == 0 %}
        <div class="user-list-link" href="{{ path('home_user', {'slug': fs.friend.id}) }}">
            <div class="user-container friendship-container" data-user="{{ fs.friend.id }}">
                <div class="card user-card">
                    <div class="row no-gutters">
                        <a class="user-list-link-passive" href="{{ path('home_user', {'slug': fs.friend.id}) }}">
                            <div class="col-md-auto col-friend-auto">
                                {% if fs.friend.media is null %}
                                <img src="{{ asset('uploads/avatars/0.jpg') }}" alt="profile picture"
                                    class="user-card-avatar">
                                {% else %}
                                <img src="{{ asset('uploads/avatars/' ~ fs.friend.media.imageName) | imagine_filter('avatar') }}"
                                    alt="profile picture" class="card-img user-card-avatar">
                                {% endif %}
                            </div>
                            <div class="col-md-auto basic-info-col col-friend-auto">
                                <div class="card-body user-info">
                                    <h6 class="card-title">{{ fs.friend.name }} {{ fs.friend.lastname }} </h6>
                                    @{{ fs.friend.username }}
                                    ({{ fs.friend.ratingWriter }}/{{ fs.friend.ratingReader }})
                                    <p class="card-text"><small class="text-muted">{{ fs.friend.currentLocation.city }}
                                            - {{ fs.friend.currentLocation.country }}<br />
                                            {% if fs.friend.mood|length > 25 %}
                                            {{ fs.friend.mood[:25] }}...
                                            {% endif %}
                                            {% if fs.friend.mood|length <= 25 %}
                                            {{ fs.friend.mood }}
                                            {% endif %}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </a>
                        <div class="btn-status-friendship-container">
                            <a href="" class="btn-friendship accept">Accept</a>
                            <a href="" class="btn-friendship refuse">Decline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if fs.status == 1 %}
        <a class="user-list-link" href="{{ path('home_user', {'slug': fs.friend.id}) }}">
            <div class="user-container friendship-container" data-user="{{ fs.friend.id }}">
                <div class="card user-card">
                    <div class="row no-gutters">
                        <div class="col-md-auto">
                            {% if fs.friend.media is null %}
                            <img src="{{ asset('uploads/avatars/0.jpg') }}" alt="profile picture"
                                class="user-card-avatar">
                            {% else %}
                            <img src="{{ asset('uploads/avatars/' ~ fs.friend.media.imageName) | imagine_filter('avatar') }}"
                                alt="profile picture" class="card-img user-card-avatar">
                            {% endif %}
                        </div>
                        <div class="col-md-auto basic-info-col">
                            <div class="card-body user-info">
                                <h6 class="card-title">{{ fs.friend.name }} {{ fs.friend.lastname }} </h6>
                                @{{ fs.friend.username }}
                                ({{ fs.friend.ratingWriter }}/{{ fs.friend.ratingReader }})
                                <p class="card-text"><small class="text-muted">{{ fs.friend.currentLocation.city }} - {{
                                                fs.friend.currentLocation.country }}<br />
                                        {% if fs.friend.mood|length > 35 %}
                                        {{ fs.friend.mood[:35] }}...
                                        {% endif %}
                                        {% if fs.friend.mood|length <= 35 %}
                                        {{ fs.friend.mood }}
                                        {% endif %}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        {{ knp_pagination_render(friendships) }}
    </div>
</main>
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src={{ asset("js/ui.js") }}></script>
<script src={{ asset("js/locateMe.js") }}></script>
<script src={{ asset("ajax/userList.js") }}></script>
{% endblock %}