{% extends 'base.html.twig' %}

{% block title %}Users list - Strapp.xyz{% endblock %}
{% block body %}
<main role="main" class="container-fluid main-content">
    <div class="filter-container">
        <div class="btn-group filter-user-grp" role="group" aria-label="Basic example">
            <a class="btn btn-primary btn-standard{% if filter == 'local' %}-active{% endif %}" href="{{ path('home_listuser', {'slug': 'local'}) }}">Nearby</a>
            <a class="btn btn-primary btn-standard{% if filter == 'global' %}-active{% endif %}" href="{{ path('home_listuser', {'slug': 'global'}) }}">Global</a>
        </div>
    </div>
    <div class="row user-list-row">
        {% for user in users %}
        <a class="user-list-link" href="{{ path('home_user', {'slug': user.id}) }}">
            <div class="user-container" data-user="{{ user.id }}">
                <div class="card user-card">
                    <div class="row no-gutters">
                        <div class="col-md-auto">
                            {% if user.media is null %}
                            <img src="uploads/avatars/0.jpg" alt="profile picture" class="user-card-avatar">
                            {% else %}
                            <img src="{{ asset('uploads/avatars/' ~ user.media.imageName) | imagine_filter('avatar') }}"
                                alt="profile picture" class="card-img user-card-avatar">
                            {% endif %}
                        </div>
                        <div class="col-md-auto basic-info-col">
                            <div class="card-body user-info">
                                <h6 class="card-title">{{ user.name }} {{ user.lastname }} </h6>@{{ user.username }}
                                ({{ user.ratingWriter }}/{{ user.ratingReader }})
                                <p class="card-text"><small class="text-muted">{{ user.currentLocation.city }} - {{
                                        user.currentLocation.country }}<br />
                                        {{ user.mood }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="row">
        {{ knp_pagination_render(users) }}
    </div>
</main>
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src={{ asset("js/ui.js") }}></script>
<script src={{ asset("js/locateMe.js") }}></script>
<script src={{ asset("ajax/userList.js") }}></script>
{% endblock %}